<template>
	<header class="site-header">
		<div class="container mt-10">
			<Logo />
			<div v-if="responsive.isMobile || responsive.isTablet">
				<button
					class="btn btn--transparent"
					aria-label="Menu"
					@click="sidebarToggle"
				>
					<svg
						width="24px"
						height="24px"
						viewBox="0 0 24 24"
						fill="none"
						xmlns="http://www.w3.org/2000/svg"
					>
						<g clip-path="url(#clip0_429_11066)">
							<path
								d="M3 6.00092H21M3 12.0009H21M3 18.0009H21"
								stroke="#292929"
								stroke-width="2.5"
								stroke-linecap="round"
								stroke-linejoin="round"
							/>
						</g>
						<defs>
							<clipPath id="clip0_429_11066">
								<rect
									width="24"
									height="24"
									fill="white"
									transform="translate(0 0.000915527)"
								/>
							</clipPath>
						</defs>
					</svg>
				</button>
			</div>
			<HeaderNav v-if="!responsive.isTablet" />
			<headerUserNav v-if="!responsive.isTablet" :login="true" />
		</div>
		<div v-if="!responsive.isTablet" class="container">
			<ul class="tabs__bar--justify">
				<NuxtLink
					v-for="tab in tabs"
					:key="tab"
					:to="urlTabs(tab)"
					class="f--medium"
				>
					<li class="tabs__nav" :class="[{ 'is-active': currentTab === tab }]">
						{{ tab }}
					</li>
				</NuxtLink>
			</ul>
		</div>
	</header>
</template>

<script>
export default {
	name: 'HeaderComponent',
	inject: ['responsive'],
	props: {
		isShow: {
			type: Boolean,
			required: true
		}
	},
	data() {
		return {
			tabs: ['Info Umum', 'Fasilitas', 'Lokasi', 'Camp Ground', 'Review'],
			isActive: this.isShow
		}
	},
	computed: {
		currentTab() {
			const routeHash = this.$route.hash
			if (routeHash) {
				const formattedText = routeHash.replace('#', '').replace(/-/g, ' ')
				return formattedText.replace(/\b\w/g, match => match.toUpperCase())
			}
			return 'Info Umum'
		},
		urlTabs() {
			return tab => {
				return `#${this.createSlug(tab)}`
			}
		},
		createSlug() {
			return tab => {
				return tab.toLowerCase().replace(/\s+/g, '-')
			}
		}
	},
	methods: {
		sidebarToggle() {
			this.isActive = !this.isActive
			this.$emit('toggle', this.isActive)
		}
	}
}
</script>

<style lang="scss">
.site-header {
	min-height: 80.594px;
	display: flex;
	flex-direction: column;
	background-color: #fff;
	box-shadow: 0px 3px 4px rgba($black, 0.15);

	& > .container {
		display: flex;
		flex: 1;
		justify-content: space-between;
		align-items: center;
	}

	&.transparent-header {
		background: transparent;

		.header-link {
			color: #fff;

			&:hover {
				color: $black20;
			}
		}
	}

	// @media #{$large} {
	// 	height: 108px;
	// }
}
</style>
