<template>
	<nav class="main-nav">
		<ul class="list-nostyle">
			<li v-for="(nav, i) in mainNavData" :key="i" class="main-nav__item">
				<nuxt-link class="header-link" :to="nav.url">{{ nav.title }}</nuxt-link>
			</li>
		</ul>
	</nav>
</template>

<script>
export default {
	name: 'SiteSearch'
}
</script>

<style lang="scss"></style>
