<template>
	<nav class="main-nav">
		<ul class="list-nostyle flex v-center">
			<li class="main-nav__item">
				<nuxt-link class="header-link" to="#"
					><i class="bzi bzi-corp f-24"></i
					><span class="f--medium-m">Jadi Mitra KEMAHAJA</span></nuxt-link
				>
			</li>
			<li>
				<nuxt-link class="header-link" to="#"
					><i class="bzi bzi-flag-id path1 f-18"></i>
					<i class="bzi bzi-flag-id path2 f-18 mr-4"></i>ID<i
						class="bzi bzi-angle-down f-16 ml-4"
					></i
				></nuxt-link>
			</li>
			<li v-if="login">
				<nuxt-link class="header-link" to="#"
					><i class="bzi bzi-user-circle path1 f-36"></i>
					<i class="bzi bzi-user-circle path2 f-36 mr-4"></i>
					Prayuda Riansyah<i class="bzi bzi-angle-down ml-4"></i
				></nuxt-link>
			</li>
			<li v-else>
				<button class="btn bg-white">Masuk</button>
				<button class="btn btn--primary">Daftar</button>
			</li>
		</ul>
	</nav>
</template>

<script>
export default {
	name: 'UserNav',
	props: {
		login: {
			type: Boolean,
			default: false
		}
	}
}
</script>

<style lang="scss" scoped>
.main-nav {
	@media #{$medium} {
		& > ul {
			display: flex;
		}
	}

	li {
		display: flex;
		align-items: center;
	}

	ul,
	li {
		height: 100%;
	}
}
</style>
