<template>
	<main class="site-main">
		<div class="container">
			<h1>Camping Ground</h1>
			<div v-if="$fetchState.pending" class="text-center p-24">
				<span class="spinner"></span>
			</div>
			<div v-else class="bzg">
				<div
					v-for="(item, i) in camps"
					:key="i"
					class="bzg_c"
					data-col="m6, l3"
				>
					<card :card-data="item" path="/camping-ground/" />
				</div>
			</div>
		</div>
	</main>
</template>

<script>
export default {
	name: 'IndexCampsPages',
	components: {
		card: () => import('~/components/news/card')
	},
	data() {
		return {
			camps: []
		}
	},
	async fetch() {
		await this.updateData()
	},
	fetchOnServer: false,
	head() {
		return {
			...this.$SEOMeta({
				metaTitle: 'Camping Ground'
			})
		}
	},
	methods: {
		updateData() {
			this.$axios
				.get('/json/camping-ground.json')
				.then(res => {
					this.camps = res.data.data
				})
				.catch(err => {
					console.log(err)
				})
		}
	},
	jsonld() {
		return this.$jsonLD({
			jsonLDObjects: {
				name: 'Camps',
				description: 'Camps list page'
			}
		})
	}
}
</script>

<style lang="scss" scoped></style>
