<template>
	<div class="shadow rounded grid bg-white ph-24 pv-12">
		<filter-wrapper class="grid-item-1">
			<filter-label>Tujuan</filter-label>
			<FilterInput icon="maps-location" value="Yogyakarta" />
		</filter-wrapper>
		<filter-wrapper class="grid-item-2">
			<filter-label>Tanggal Check-in</filter-label>
			<FilterInput icon="calender" value="13 Agustus 2023" />
		</filter-wrapper>
		<filter-wrapper class="grid-item-3">
			<filter-label>Tanggal Check-Out</filter-label>
			<FilterInput icon="calender" value="14 Agustus 2023" />
		</filter-wrapper>
		<filter-wrapper class="grid-item-4">
			<filter-label>Pengunjung</filter-label>
			<FilterInput icon="people" value="2 Dewasa, 1 Anak" />
		</filter-wrapper>
		<div class="grid-button">
			<button class="btn btn--primary button-search" aria-label="Cari Sekarang">
				Cari Sekarang
			</button>
		</div>
	</div>
</template>

<script>
export default {
	name: 'DetailFilter'
}
</script>

<style lang="scss">
.shadow {
	box-shadow: 0px 4px 6px 0px #0000000a;
}

.grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(3, 1fr);
	@media #{$medium} {
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(2, 1fr);
	}
	@media #{$extra_large} {
		grid-template-columns: repeat(5, 1fr);
		grid-template-rows: repeat(1, 1fr);
	}
}

.grid-button {
	display: grid;
	grid-column-start: 1;
	grid-column-end: span 2;
	align-self: center;
	@media #{$medium} {
		grid-column-start: 3;
		grid-row-start: 1;
		grid-row-end: span 2;
		justify-self: center;
		align-self: center;
	}
	@media #{$extra_large} {
		grid-column-start: 5;
		grid-row-start: 1;
		grid-row-end: span 2;
		justify-self: center;
		align-self: center;
	}
}

.grid-item-1 {
	@media #{$medium} {
		grid-row-start: 1;
		grid-row-end: span 2;
	}
}

.grid-item-2 {
	@media #{$medium} {
		grid-row-start: 1;
		grid-row-end: span 2;
	}
}

.grid-item-3 {
	@media #{$medium} {
		grid-row-start: 3;
		grid-row-end: span 2;
	}
	@media #{$extra_large} {
		grid-column-start: 3;
		grid-row-start: 1;
		grid-row-end: span 2;
	}
}

.grid-item-4 {
	@media #{$medium} {
		grid-row-start: 3;
		grid-row-end: span 2;
	}
	@media #{$extra_large} {
		grid-column-start: 4;
		grid-row-start: 1;
		grid-row-end: span 2;
	}
}

.button-search {
	width: 100%;

	@media #{$medium} {
		width: auto;
	}
}
</style>
