<template>
	<div class="flex v-center gap-10 p-0" data-col="m2">
		<i class="bzi f-24" :class="className"></i>
		<p class="text f--medium-l mb-0">{{ value }}</p>
	</div>
</template>

<script>
export default {
	name: 'FilterInput',
	props: {
		icon: {
			type: String,
			default: ''
		},
		value: {
			type: String,
			default: ''
		}
	},
	computed: {
		className() {
			return `bzi-${this.icon}`
		}
	}
}
</script>

<style lang="scss" scoped>
.text {
	@media #{$medium} {
		font-size: 14px;
	}

	@media #{$large} {
		font-size: 18px;
	}
}
</style>
