<template>
	<div
		class="shadow radius-10 f-16 flex flex-column gap-16 bg-white ph-16 pv-20"
	>
		<div class="flex flex--wrap gap-10 w-full">
			<div class="form-group--label-input flex-3 radius-8">
				<div class="label flex v-center">
					<i class="bzi bzi-car"></i>
				</div>
				<input
					class="form-input"
					type="text"
					placeholder="Cari tujuan camp, daerah "
				/>
			</div>
			<div class="form-group--label-input radius-8 flex v-center ph-12">
				<div class="input-group">
					<i class="bzi bzi-people"></i>
					<div class="flex gap-12">
						<span>2 Dewasa 1 Anak-Anak</span>
						<span class="text-disable">-</span>
						<span class="text-disable">1 Tenda</span>
					</div>
				</div>
			</div>
		</div>
		<div class="flex flex--wrap gap-10">
			<div
				class="form-group--label-input radius-8 flex--wrap v-center gap-24 pv-8 ph-12"
			>
				<div class="input-group">
					<i class="bzi bzi-calender text-disable"></i>
					<div class="flex gap-12">
						<span>24 Agustus 2023</span>
						<span class="text-disable">-</span>
						<span class="text-disable">Senin</span>
					</div>
				</div>
				<div class="divider"></div>
				<div class="input-group">
					<i class="bzi bzi-calender text-disable"></i>
					<div class="flex gap-12">
						<span>1 September 2023</span>
						<span class="text-disable">-</span>
						<span class="text-disable">Selasa</span>
					</div>
				</div>
			</div>
			<button class="btn btn--primary radius-8 flex-1">Cari Sekarang</button>
		</div>
	</div>
</template>

<script>
export default {
	name: 'DetailFilter'
}
</script>

<style lang="scss">
.shadow {
	box-shadow: 0px 4px 6px 0px #0000000a;
}

.flex > * {
	flex: auto;
}

.input-group {
	display: flex;
	gap: 10px;
	flex-wrap: nowrap;
}

@media #{$medium} {
	.flex-3 {
		flex: 3;
	}

	.flex-2 {
		flex: 2;
	}
}

.divider {
	border-right: 1px solid #d9d9d9;
	height: 100%;
}
</style>
