<template>
	<div class="flex flex-column" :class="gapValue">
		<div class="flex f-space-between accordion" @click="isActive = !isActive">
			<h3 class="mb-0 f-18 text-reg">{{ title }}</h3>
			<i v-if="isActive" class="bzi bzi-angle-up"></i>
			<i v-else class="bzi bzi-angle-down"></i>
		</div>
		<form action="" @submit.prevent="onSubmit">
			<div
				class="flex flex-column gap-16 panel"
				:class="[{ hidden: !isActive }]"
			>
				<label
					v-for="(option, idx) in options"
					:key="idx"
					class="form-check__item f-16"
					:for="option"
					><input
						:id="option"
						type="radio"
						class="mr-11 radio"
						name="radio"
					/><span></span>
					<div class="option">{{ option }}</div></label
				>
			</div>
		</form>
	</div>
</template>

<script>
export default {
	name: 'AccordionComponent',
	props: {
		title: {
			type: String,
			required: true
		},
		options: {
			type: Array,
			required: true
		},
		gap: {
			type: String,
			default: ''
		}
	},
	data() {
		return {
			isActive: true
		}
	},
	computed: {
		gapValue() {
			if (this.gap) {
				return `gap-${this.gap}`
			}
			return 'gap-12'
		}
	},
	methods: {
		onSubmit() {}
	}
}
</script>

<style lang="scss" scoped>
.accordion {
	cursor: pointer;
	transition: 0.4s;
}

input[type='radio']:checked {
	background-color: red;
}

input[type='radio'] {
	display: none;
}

input[type='radio'] + span {
	display: inline-block;
	width: 13px;
	height: 13px;
	background: transparent;
	padding: 2px;
	border: 1px solid $primary;
	border-radius: 50%;
	margin: 0 5px;
}

input[type='radio'] ~ div {
	display: inline-block;
	color: #6e6e6e;
}

input[type='radio']:checked + span {
	background: $primary;
	padding: 2px;
	background-clip: content-box;
}

input[type='radio']:checked ~ div {
	color: #000;
}
</style>
