<template>
	<ul class="list-nostyle breadcrumb mb-12">
		<li>
			<nuxt-link to="/">Camping Ground</nuxt-link>
		</li>
		<li>
			<nuxt-link to="/">Yogyakarta</nuxt-link>
		</li>
		<li>
			<nuxt-link to="/">Brotherhood Camp</nuxt-link>
		</li>
	</ul>
</template>

<script>
export default {
	name: 'BreadCrumbs',
	computed: {
		crumbs() {
			const newItems = []
			const pathsItem = []
			const fullPath = this.$route.path
			const items = fullPath.split('/')

			items.shift()

			items.forEach((b, i) => {
				b = b.split('-').join(' ')
				newItems.push(b)

				const url = newItems.slice(0, i + 1).toString()

				pathsItem.push({
					title: b,
					url: '/' + url.split(',').join('/')
				})
			})

			return pathsItem
		}
	}
}
</script>

<style lang="scss" scoped>
.breadcrumbs {
	display: flex;
	flex-wrap: wrap;
	font-size: 13px;
	align-items: center;
	text-transform: capitalize;
	margin-bottom: 24px;

	.icon-crumbs {
		display: inline-block;
		padding: 0 4px;
	}

	li a {
		color: $black40;
	}

	li:last-child a {
		color: $link;
	}
}
</style>
