<template>
	<section class="mt-100">
		<h6 class="f-32">Tujuan Camp Terpopuler</h6>
		<div class="flex flex--wrap gap-20">
			<div class="flex v-stretch flex--wrap gap-20 f-space-between gap-24">
				<CardDestination
					v-for="(destination, idx) in destinations"
					:key="idx"
					:image="destination.image"
					:city="destination.city"
					:total="destination.total"
				/>
			</div>
		</div>
	</section>
</template>

<script>
export default {
	name: 'CampDestination',
	data() {
		return {
			destinations: [
				{
					image: 'assets/img/malang.png',
					city: 'Malang',
					total: 236
				},
				{
					image: 'assets/img/bandung.png',
					city: 'Bandung',
					total: 236
				},
				{
					image: 'assets/img/bali.png',
					city: 'Bali',
					total: 236
				},
				{
					image: 'assets/img/jakarta.png',
					city: 'Jakarta',
					total: 236
				},
				{
					image: 'assets/img/yogyakarta.png',
					city: 'Yogyakarta',
					total: 236
				},
				{
					image: 'assets/img/bogor.png',
					city: 'Bogor',
					total: 236
				},
				{
					image: 'assets/img/lombok.png',
					city: 'Lombok',
					total: 236
				},
				{
					image: 'assets/img/nusa-peninda.png',
					city: 'Nusa Peninda',
					total: 236
				}
			]
		}
	}
}
</script>

<style lang="scss" scoped>
.text-light {
	font-weight: 400 !important;
}
</style>
