<template>
	<section class="mt-60">
		<h6 class="f-32">Camp Dengan Keindahan Tiada Tara</h6>
		<div class="flex flex-column gap-32">
			<div class="flex flex-column gap-16">
				<div class="flex flex--wrap gap-10">
					<button
						v-for="(category, idx) in categories"
						:key="idx"
						class="btn btn--ghost-disable text-light f-16 radius-8"
					>
						{{ category }}
					</button>
				</div>
				<div class="flex v-stretch flex--wrap f-space-between gap-24">
					<CardCamp
						v-for="(camp, idx) in camps"
						:key="idx"
						:title="camp.title"
						:location="camp.location"
						:price="camp.price"
						:disc="camp.disc"
						:category="camp.category"
					/>
				</div>
			</div>
			<div class="flex h-center">
				<button class="btn btn--primary radius-8">
					Camp Terpopuler Lainnya
				</button>
			</div>
		</div>
	</section>
</template>

<script>
export default {
	name: 'CampCategory',
	data() {
		return {
			categories: ['Pantai', 'Gunung', 'Citylight', 'Sungai', 'Sawah', 'Danau'],
			camps: [
				{
					title: 'Wisma Atlet Camp',
					location: 'Sera, Bali',
					price: 100000,
					category: 'Pantai'
				},
				{
					title: 'Wisma Atlet Camp',
					location: 'Sera, Bali',
					price: 100000,
					category: 'Pantai'
				},
				{
					title: 'Wisma Atlet Camp',
					location: 'Sera, Bali',
					price: 100000,
					disc: 70,
					category: 'Pantai'
				},
				{
					title: 'Wisma Atlet Camp',
					location: 'Sera, Bali',
					price: 100000,
					category: 'Pantai'
				},
				{
					title: 'Wisma Atlet Camp',
					location: 'Sera, Bali',
					price: 100000,
					disc: 70,
					category: 'Pantai'
				},
				{
					title: 'Wisma Atlet Camp',
					location: 'Sera, Bali',
					price: 100000,
					category: 'Pantai'
				},
				{
					title: 'Wisma Atlet Camp',
					location: 'Sera, Bali',
					price: 100000,
					disc: 70,
					category: 'Pantai'
				},
				{
					title: 'Wisma Atlet Camp',
					location: 'Sera, Bali',
					price: 100000,
					disc: 70,
					category: 'Pantai'
				}
			]
		}
	}
}
</script>

<style lang="scss" scoped>
.text-light {
	font-weight: 400 !important;
}
</style>
