<template>
	<section class="mt-98">
		<h6 class="f-32">Ngecamp Seru Dengan Banyak Pilihan</h6>
		<ul class="tabs__bar js-tabs f-18 f--medium">
			<li
				v-for="tab in tabs"
				:key="tab"
				class="tabs__nav"
				:class="[{ 'is-active': currentTabDefault === tab }]"
				@click="currentTabDefault = tab"
			>
				{{ tab }}
			</li>
		</ul>

		<div class="tabs__content">
			<div class="tabs__item is-active">
				<ul class="list-nostyle flex flex--wrap f-space-between gap-32 mt-24">
					<li
						v-for="(content, idx) in defaultContents"
						:key="idx"
						class="fb-20"
					>
						<div class="flex flex-column">
							<span class="f-18 f-medium">{{ content.name }}</span>
							<span class="text-light">{{
								`mulai Rp ${toIDR(content.minPrice)}`
							}}</span>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</section>
</template>

<script>
export default {
	name: 'CampTabs',
	data() {
		return {
			currentTabDefault: 'Camp Termurah',
			tabs: ['Camp Termurah', 'Camp Terbaru', 'Lagi Viral'],
			contents: {
				'Camp Termurah': [
					{
						name: 'Pegunungan Rasa Jeruk',
						minPrice: 10000
					},
					{
						name: 'Pegunungan Rasa Jeruk',
						minPrice: 10000
					},
					{
						name: 'Pegunungan Rasa Jeruk',
						minPrice: 10000
					},
					{
						name: 'Pegunungan Rasa Jeruk',
						minPrice: 10000
					},
					{
						name: 'Pegunungan Rasa Jeruk',
						minPrice: 10000
					},
					{
						name: 'Pegunungan Rasa Jeruk',
						minPrice: 10000
					},
					{
						name: 'Pegunungan Rasa Jeruk',
						minPrice: 10000
					},
					{
						name: 'Pegunungan Rasa Jeruk',
						minPrice: 10000
					},
					{
						name: 'Pegunungan Rasa Jeruk',
						minPrice: 10000
					},
					{
						name: 'Pegunungan Rasa Jeruk',
						minPrice: 10000
					},
					{
						name: 'Pegunungan Rasa Jeruk',
						minPrice: 10000
					},
					{
						name: 'Pegunungan Rasa Jeruk',
						minPrice: 10000
					},
					{
						name: 'Pegunungan Rasa Jeruk',
						minPrice: 10000
					},
					{
						name: 'Pegunungan Rasa Jeruk',
						minPrice: 10000
					},
					{
						name: 'Pegunungan Rasa Jeruk',
						minPrice: 10000
					},
					{
						name: 'Pegunungan Rasa Jeruk',
						minPrice: 10000
					}
				],
				'Camp Terbaru': [
					{
						name: 'Pegunungan Rasa Mangga',
						minPrice: 10000
					},
					{
						name: 'Pegunungan Rasa Mangga',
						minPrice: 10000
					},
					{
						name: 'Pegunungan Rasa Mangga',
						minPrice: 10000
					},
					{
						name: 'Pegunungan Rasa Mangga',
						minPrice: 10000
					},
					{
						name: 'Pegunungan Rasa Mangga',
						minPrice: 10000
					},
					{
						name: 'Pegunungan Rasa Mangga',
						minPrice: 10000
					},
					{
						name: 'Pegunungan Rasa Mangga',
						minPrice: 10000
					},
					{
						name: 'Pegunungan Rasa Mangga',
						minPrice: 10000
					},
					{
						name: 'Pegunungan Rasa Mangga',
						minPrice: 10000
					},
					{
						name: 'Pegunungan Rasa Mangga',
						minPrice: 10000
					},
					{
						name: 'Pegunungan Rasa Mangga',
						minPrice: 10000
					},
					{
						name: 'Pegunungan Rasa Mangga',
						minPrice: 10000
					},
					{
						name: 'Pegunungan Rasa Mangga',
						minPrice: 10000
					},
					{
						name: 'Pegunungan Rasa Mangga',
						minPrice: 10000
					},
					{
						name: 'Pegunungan Rasa Mangga',
						minPrice: 10000
					},
					{
						name: 'Pegunungan Rasa Mangga',
						minPrice: 10000
					}
				],
				'Lagi Viral': [
					{
						name: 'Pegunungan Rasa Apel',
						minPrice: 10000
					},
					{
						name: 'Pegunungan Rasa Apel',
						minPrice: 10000
					},
					{
						name: 'Pegunungan Rasa Apel',
						minPrice: 10000
					},
					{
						name: 'Pegunungan Rasa Apel',
						minPrice: 10000
					},
					{
						name: 'Pegunungan Rasa Apel',
						minPrice: 10000
					},
					{
						name: 'Pegunungan Rasa Apel',
						minPrice: 10000
					},
					{
						name: 'Pegunungan Rasa Apel',
						minPrice: 10000
					},
					{
						name: 'Pegunungan Rasa Apel',
						minPrice: 10000
					},
					{
						name: 'Pegunungan Rasa Apel',
						minPrice: 10000
					},
					{
						name: 'Pegunungan Rasa Apel',
						minPrice: 10000
					},
					{
						name: 'Pegunungan Rasa Apel',
						minPrice: 10000
					},
					{
						name: 'Pegunungan Rasa Apel',
						minPrice: 10000
					},
					{
						name: 'Pegunungan Rasa Apel',
						minPrice: 10000
					},
					{
						name: 'Pegunungan Rasa Apel',
						minPrice: 10000
					},
					{
						name: 'Pegunungan Rasa Apel',
						minPrice: 10000
					},
					{
						name: 'Pegunungan Rasa Apel',
						minPrice: 10000
					}
				]
			}
		}
	},
	computed: {
		defaultContents() {
			return this.contents[this.currentTabDefault]
		},
		toIDR() {
			return price => this.$setCurrency(price)
		}
	}
}
</script>

<style lang="scss" scoped>
.fb-20 {
	flex-basis: 20%;
}
</style>
