<template>
	<section class="mt-100">
		<h6 class="f-32">Camp Dengan Penawaran Terbatas</h6>
		<div class="flex flex-column gap-32">
			<div class="flex v-stretch flex--wrap f-space-between gap-24">
				<CardCamp
					v-for="(camp, idx) in camps"
					:key="idx"
					:title="camp.title"
					:location="camp.location"
					:price="camp.price"
					:disc="camp.disc"
				/>
			</div>
			<div class="flex h-center">
				<button class="btn btn--primary radius-8">
					Penawaran Terbatas Lainnya
				</button>
			</div>
		</div>
	</section>
</template>

<script>
export default {
	name: 'CampLimited',
	data() {
		return {
			camps: [
				{
					title: 'Wisma Atlet Camp',
					location: 'Sera, Bali',
					price: 100000,
					disc: 70
				},
				{
					title: 'Wisma Atlet Camp',
					location: 'Sera, Bali',
					price: 100000,
					disc: 10
				},
				{
					title: 'Wisma Atlet Camp',
					location: 'Sera, Bali',
					price: 100000,
					disc: 70
				},
				{
					title: 'Wisma Atlet Camp',
					location: 'Sera, Bali',
					price: 100000,
					disc: 50
				}
			]
		}
	}
}
</script>

<style lang="scss" scoped>
.text-light {
	font-weight: 400 !important;
}
</style>
