<template>
	<section class="mt-60">
		<h6 class="f-32">Jelajahi camp pilihan KEMAHAJA</h6>
		<div class="flex flex-column gap-32">
			<div class="flex flex-column gap-16">
				<div class="flex flex--wrap gap-10">
					<button
						v-for="(city, idx) in cities"
						:key="idx"
						class="btn btn--ghost-disable text-light f-16 radius-8"
					>
						{{ city }}
					</button>
				</div>
				<div class="flex v-stretch flex--wrap f-space-between gap-24">
					<CardCamp
						v-for="(camp, idx) in camps"
						:key="idx"
						:title="camp.title"
						:location="camp.location"
						:price="camp.price"
						:disc="camp.disc"
					/>
				</div>
			</div>
			<div class="flex h-center">
				<button class="btn btn--primary radius-8">
					Camp Terpopuler Lainnya
				</button>
			</div>
		</div>
	</section>
</template>

<script>
export default {
	name: 'CampCity',
	data() {
		return {
			cities: ['Yogyakarta', 'Bali', 'Bandung', 'Jakarta', 'Lombok', 'Malang'],
			camps: [
				{
					title: 'Wisma Atlet Camp',
					location: 'Sera, Bali',
					price: 100000,
					disc: 70
				},
				{
					title: 'Wisma Atlet Camp',
					location: 'Sera, Bali',
					price: 100000
				},
				{
					title: 'Wisma Atlet Camp',
					location: 'Sera, Bali',
					price: 100000,
					disc: 70
				},
				{
					title: 'Wisma Atlet Camp',
					location: 'Sera, Bali',
					price: 100000
				},
				{
					title: 'Wisma Atlet Camp',
					location: 'Sera, Bali',
					price: 100000
				},
				{
					title: 'Wisma Atlet Camp',
					location: 'Sera, Bali',
					price: 100000
				},
				{
					title: 'Wisma Atlet Camp',
					location: 'Sera, Bali',
					price: 100000,
					disc: 70
				},
				{
					title: 'Wisma Atlet Camp',
					location: 'Sera, Bali',
					price: 100000
				}
			]
		}
	}
}
</script>

<style lang="scss" scoped>
.text-light {
	font-weight: 400 !important;
}
</style>
