<template>
	<section class="full bg-red mt-100 mb-40">
		<div class="image-header">
			<nuxt-img
				class="full-width slick-item"
				format="webp"
				loading="lazy"
				src="assets/img/banner.png"
				alt="Thumbnail"
			/>
			<div
				class="label-container flex flex-column gap-26 f-12 f--medium text-white"
			>
				<div class="flex flex-column gap-16">
					<span class="f-32 f--bold">Sewain Camp Ground-mu, Sekarang!</span>
					<span class="f-16 f--medium"
						>Tingkatkan kunjungan wisatawan Anda bersama Kami <br />
						dan dapatkan keuntungan lainnya</span
					>
				</div>
				<div class="flex">
					<button class="btn btn--primary">Gabung KEMAHAJA</button>
				</div>
			</div>
		</div>
	</section>
</template>

<script>
export default {
	name: 'CampBanner'
}
</script>

<style lang="scss" scoped>
.full {
	width: 100vw;
	margin-left: calc(-50vw + 50%);
}

.image-header {
	position: relative;
}

.label-container {
	position: absolute;
	top: 40px;
	left: 45px;
}
</style>
