<template>
	<div class="flex flex-column shadow rounded">
		<div class="image-header">
			<nuxt-img
				class="full-width"
				format="webp"
				loading="lazy"
				src="assets/img/wisma-atlet-camp.png"
				alt="Thumbnail"
			/>
			<div class="label-container flex flex-column gap-4 f-12 f--medium">
				<label v-if="disc" class="bg-pink text-red pv-4 ph-12 label-disc"
					>Mega Price</label
				>
				<label v-if="disc" class="bg-red text-white pv-4 ph-12 label-disc"
					>{{ disc }}% Diskon</label
				>
				<label
					v-if="category"
					class="bg-success text-primary pv-4 ph-12 label-disc"
					>{{ category }}</label
				>
			</div>
		</div>
		<div class="ph-12 pv-8 flex-1 flex flex-column f-space-between">
			<div class="flex flex-column gap-4 mb-12">
				<span class="f--bold f-18">{{ title }}</span>
				<div class="flex gap-4">
					<span class="f--medium text-grey10">{{ location }}</span>
					<i class="bzi bzi-star-filled"></i>
					<i class="bzi bzi-star-filled"></i>
					<i class="bzi bzi-star-filled"></i>
				</div>
				<div class="flex gap-4 f-12">
					<div class="flex">
						<span class="text-primary f--medium">9.8</span>
						<span class="text-secondary text-light">&nbsp;/10</span>
					</div>
					<span class="text-light">(2322 ulasan)</span>
				</div>
			</div>
			<div class="flex flex-column">
				<span v-if="disc" class="f--medium text-linetrough"
					>Rp {{ originalPrice }}</span
				>
				<div class="flex gap-2">
					<span v-if="disc" class="f-18 text-red f--bold"
						>Rp {{ discPrice }}</span
					>
					<span v-else class="f-18 text-primary f--bold"
						>Rp {{ originalPrice }}</span
					>
					<span class="f-16 text-light text-grey10">/malam</span>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
export default {
	name: 'CardCamp',
	props: {
		title: {
			type: String,
			required: true
		},
		location: {
			type: String,
			required: true
		},
		price: {
			type: Number,
			required: true
		},
		disc: {
			type: Number,
			default: 0
		},
		category: {
			type: String,
			default: ''
		}
	},
	computed: {
		discPrice() {
			return this.$setCurrency(this.price - (this.disc / 100) * this.price)
		},
		originalPrice() {
			return this.$setCurrency(this.price)
		}
	}
}
</script>

<style lang="scss" scoped>
.text-light {
	font-weight: 400 !important;
}

.image-header {
	position: relative;
}

.label-container {
	position: absolute;
	left: 0;
	bottom: 10px;
}

.label-disc {
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}
</style>
