<template>
	<div class="shadow rounded pv-10 ph-10 flex flex-column gap-20">
		<div class="flex f-space-between">
			<h2 class="f-24 flex-1">{{ title }}</h2>
			<slot name="selengkapnya" class="flex-1"></slot>
		</div>
		<slot></slot>
	</div>
</template>

<script>
export default {
	name: 'CardComponent',
	props: {
		title: {
			type: String,
			default: ''
		}
	}
}
</script>

<style lang="scss">
.shadow {
	box-shadow: 0px 4px 6px 0px #0000000a;
}
</style>
