<template>
	<div class="image-header">
		<nuxt-img
			class="full-width"
			format="webp"
			loading="lazy"
			:src="image"
			alt="Thumbnail"
		/>
		<div
			class="label-container flex flex-column gap-4 f-12 f--medium text-white"
		>
			<span class="f-22 f--bold">{{ city }}</span>
			<span class="f-16 f--medium">{{ total }} Camping Ground</span>
		</div>
	</div>
</template>

<script>
export default {
	name: 'CardDestination',
	props: {
		image: {
			type: String,
			required: true
		},
		city: {
			type: String,
			required: true
		},
		total: {
			type: Number,
			required: true
		}
	}
}
</script>

<style lang="scss" scoped>
.text-light {
	font-weight: 400 !important;
}

.image-header {
	position: relative;
}

.label-container {
	position: absolute;
	top: 16px;
	left: 19px;
}
</style>
