<template>
	<section class="mt-100">
		<h6 class="f-32">Nikmati Diskon Spesial Dari KEMAHAJA</h6>
		<VueSlickCarousel v-bind="settings">
			<nuxt-img
				class="full-width slick-item"
				format="webp"
				loading="lazy"
				src="assets/img/carousel-1.png"
				alt="Thumbnail"
			/>
			<nuxt-img
				class="full-width slick-item"
				format="webp"
				loading="lazy"
				src="assets/img/carousel-2.png"
				alt="Thumbnail"
			/>
			<nuxt-img
				class="full-width slick-item"
				format="webp"
				loading="lazy"
				src="assets/img/carousel-1.png"
				alt="Thumbnail"
			/>
			<nuxt-img
				class="full-width slick-item"
				format="webp"
				loading="lazy"
				src="assets/img/carousel-2.png"
				alt="Thumbnail"
			/>
		</VueSlickCarousel>
	</section>
</template>

<script>
export default {
	name: 'CarouselCamp',
	data() {
		return {
			data: {},
			loading: true,
			settings: {
				arrows: true,
				dots: true,
				speed: 500,
				slidesToShow: 2,
				slidesToScroll: 2
			}
		}
	}
}
</script>
