<template>
	<div class="flex flex-column gap-32">
		<div class="flex flex-column gap-16">
			<Comment
				v-for="(comment, idx) in comments"
				:key="idx"
				:comment="comment"
			/>
		</div>
		<ol class="pagination">
			<li><a class="is-active" href="#">1</a></li>
			<li><a href="#" disabled="">2</a></li>
			<li><a href="#">3</a></li>
			<li><a href="#">4</a></li>
			<li><a href="#">.......</a></li>
			<li><a href="#">24</a></li>
		</ol>
	</div>
</template>

<script>
export default {
	name: 'CommentsComponent',
	props: {
		comments: {
			type: Array,
			required: true
		}
	}
}
</script>
