<template>
	<div class="flex flex-column pv-20 ph-24 gap-10 bg-white rounded shadow">
		<span>{{ comment.date }}</span>
		<div class="flex flex-column gap-17">
			<div class="flex flex-column gap-10">
				<div class="flex v-center gap-8">
					<nuxt-img
						format="webp"
						loading="lazy"
						:src="comment.user.avatar"
						alt="User"
					/>
					<span class="text-black f--medium f-16">{{
						comment.user.username
					}}</span>
				</div>
				<div class="flex gap-20 flex--wrap">
					<div class="flex gap-4">
						<span class="text-black f--medium">Rating : </span>
						<i
							v-for="index in comment.rating"
							:key="'filled-' + index"
							class="bzi bzi-star-filled"
						></i>
						<i
							v-for="index in starNotFilled"
							:key="'notfilled-' + index"
							class="bzi bzi-star"
						></i>
					</div>
					<div class="flex gap-4">
						<span class="text-black f--medium">Camper : </span>
						<span class="text-primary">{{ comment.camper }}</span>
					</div>
					<div class="flex gap-4">
						<span class="text-black f--medium">Paket : </span>
						<span class="text-primary">{{ comment.packet }}</span>
					</div>
				</div>
			</div>
			<p>
				{{ comment.comment }}
			</p>
			<div class="flex gap-12">
				<div
					v-for="(image, idx) in comment.images.images"
					:key="image.id"
					format="webp"
					loading="lazy"
					class="relative"
				>
					<nuxt-img
						v-if="image.id <= maxImage"
						:src="image.url"
						:alt="image.alt"
					/>
					<div
						v-if="isShowMore && isLastIndex(idx)"
						class="more text-white f-medium"
					>
						{{ `+${sisaImage} Photo` }}
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
export default {
	name: 'CommentComponent',
	inject: ['responsive'],
	props: {
		comment: {
			type: Object,
			required: true
		}
	},
	data() {
		return {}
	},
	computed: {
		starNotFilled() {
			return 5 - this.comment.rating
		},
		maxImage() {
			return this.responsive.isMobile ? 3 : 5
		},
		isShowMore() {
			return this.comment.images.total_images > this.maxImage
		},
		sisaImage() {
			return this.comment.images.total_images - this.maxImage
		}
	},
	methods: {
		isLastIndex(index) {
			return index === this.maxImage - 1
		}
	}
}
</script>

<style lang="scss" scoped>
.relative {
	position: relative;
}

.more {
	position: absolute;
	bottom: 50%;
	width: 100%;
	transform: translateY(50%);
	text-align: center;
	font-size: 14px;

	@media #{$medium} {
		font-size: 16px;
	}

	@media #{$large} {
		font-size: 18px;
	}
}
</style>
