<template>
	<div class="shadow rounded bg-white flex flex-column fg-1 ph-20 pv-16">
		<div class="flex flex-column gap-12 mb-11">
			<h3 class="f-22">{{ title }}</h3>
			<div class="flex f-space-between">
				<div>
					<i class="bzi bzi-camp lh-1 f-24 mr-8"></i>
					<span class="f-18">{{ capacity }}</span>
				</div>
				<span :class="textKavings"
					>Tersisa {{ remainingKavings }} Kaving lagi</span
				>
			</div>
		</div>
		<hr class="mb-11" />
		<div class="flex flex--wrap f-space-between">
			<div class="flex flex-column">
				<ul class="flex flex-column list-nostyle gap-12">
					<li v-for="(facility, idx) in facilities" :key="idx">
						<Tag icon="beach-solid" :ghost="true" :value="facility" />
					</li>
				</ul>
			</div>
			<div class="flex flex-column gap-12">
				<ul class="flex flex-column list-nostyle gap-12">
					<li v-for="(policy, idx) in policies" :key="idx">
						<Tag
							:icon="policy.status ? 'beach-solid' : 'beach'"
							:ghost="true"
							:disable="!policy.status"
							:value="policy.value"
						/>
					</li>
				</ul>
			</div>
			<div class="flex flex-column price-section">
				<span class="h-end">per kavling, per malam</span>
				<span class="text-red text-linetrough flex h-end">IDR {{ price }}</span>
				<div class="flex h-end v-center">
					<span class="f-16 mr-4">IDR</span>
					<span class="text-primary f-22 f--semi">{{ priceDisc }}</span>
				</div>
				<button class="btn btn--primary f-16" aria-label="Pesan">Pesan</button>
			</div>
		</div>
	</div>
</template>

<script>
export default {
	name: 'DescriptionPacketComponent',
	props: {
		title: {
			type: String,
			required: true
		},
		capacity: {
			type: String,
			required: true
		},
		remainingKavings: {
			type: Number,
			required: true
		},
		policies: {
			type: Array,
			required: true
		},
		facilities: {
			type: Array,
			required: true
		},
		price: {
			type: String,
			required: true
		},
		priceDisc: {
			type: String,
			required: true
		}
	},
	computed: {
		textKavings() {
			if (this.remainingKavings < 3) {
				return 'text-red'
			} else {
				return 'text-primary'
			}
		}
	}
}
</script>

<style lang="scss" scoped>
.lh-1 {
	line-height: 1;
}

.price-section {
	width: 100%;
	@media #{$extra_large} {
		width: auto;
	}
}
</style>
