<template>
	<card :title="title" class="flex-2">
		<ul class="flex flex--wrap list-nostyle gap-24">
			<li v-for="(facility, idx) in facilities" :key="idx">
				<Tag icon="beach-solid" :value="facility" />
			</li>
		</ul>
	</card>
</template>

<script>
export default {
	name: 'FacilitiesComponent',
	props: {
		title: {
			type: String,
			required: true
		},
		facilities: {
			type: Array,
			required: true
		}
	}
}
</script>
