<template>
	<div class="flex flex-column gap-16">
		<div class="bg-white rounded shadow flex flex-column ph-15 pv-20 gap-24">
			<Accordion
				title="Urutkan Hasil Pencarian"
				:options="[
					'Terbaru',
					'Paling Banyak Disukai',
					'Rating Tertinggi',
					'Rating Terendah'
				]"
				gap="24"
			/>
		</div>
		<div class="bg-white rounded shadow flex flex-column ph-15 pv-20 gap-16">
			<div class="flex flex-column gap-10">
				<div class="flex v-center f-space-between">
					<h3 class="mb-0 f-18 text-reg">Filter Hasil Pencarian</h3>
					<span>Reset</span>
				</div>
				<span class="text-light f--medium text-grey10"
					>Menampilkan hasil pencarian berdasarkan kategori</span
				>
			</div>
			<hr class="mb-0" />
			<Accordion
				title="Camper"
				:options="['Solo Camper', 'Family Camper', 'Expert Camper']"
			/>
			<hr class="mb-0" />
			<Accordion title="Media" :options="['Review dengan foto']" />
			<hr class="mb-0" />
			<Accordion title="Paket" :options="['Standar', 'Deluxe']" />
		</div>
	</div>
</template>

<script>
export default {
	name: 'FilterReview'
}
</script>
