<template>
	<footer class="container bzg bzg--no-gutter">
		<div class="bzg_c" data-col="m4">
			<nuxt-img
				src="assets/img/site-logo-2.png"
				alt="Logo Kemahaja"
				format="webp"
				class="mb-16"
			/>
			<div class="text-grey10">
				Ikuti Kami di Sosial Media:
				<ul class="list-nostyle flex flex-spacer f-32">
					<li><i class="bzi bzi-instagram"></i></li>
					<li><i class="bzi bzi-youtube"></i></li>
					<li><i class="bzi bzi-facebook"></i></li>
					<li><i class="bzi bzi-tiktok"></i></li>
				</ul>
			</div>
		</div>
		<div class="bzg_c text-dark-grey" data-col="m4">
			<ul class="list-nostyle f-16">
				<li class="mb-8">
					Jl. Pejaten Barat II No. 3A Jakarta,<br />
					Indonesia 12510
				</li>
				<li class="mb-8">+62 822-4692-6620</li>
				<li>Kemahaja@gmail.com</li>
			</ul>
		</div>

		<div class="bzg_c" data-col="m4">
			<form action="" @submit.prevent="handleSubmit">
				<label for="email" class="text-grey10 f-16">
					Dapatkan update berita terbaru
				</label>
				<div class="form-group full-width">
					<input
						id="email"
						v-model="formData.email"
						:class="{
							'form-input--error': isSubmitted && $v.formData.email.$invalid
						}"
						type="text"
						name="subscribe"
						class="form-input full-width mt-8"
						placeholder="Masukkan alamat E-mail"
					/>
					<button
						type="submit"
						class="btn btn--primary mt-8"
						aria-label="Kirim"
					>
						Kirim
					</button>
				</div>
				<span
					v-if="isSubmitted && !$v.formData.email.required"
					class="msg-error"
					>This field is required.</span
				>
				<span v-if="isSubmitted && !$v.formData.email.email" class="msg-error"
					>Invalid email address.</span
				>
				<p class="text-tertiary mt-12">
					Copyright <i class="bzi bzi-copyright"></i> KemahAja 2023
				</p>
			</form>
		</div>
	</footer>
</template>

<script>
import { email, required } from 'vuelidate/lib/validators'

export default {
	name: 'FooterComponent',
	data() {
		return {
			formData: {
				email: null
			},
			isSubmitted: false
		}
	},
	validations: {
		formData: {
			email: {
				required,
				email
			}
		}
	},
	methods: {
		handleSubmit() {
			this.isSubmitted = true
			console.log('SUCCESS!' + JSON.stringify(this.formData.email))
		}
	}
}
</script>

<style lang="scss" scoped></style>
