<template>
	<div class="image-grid--featured mb-30">
		<div v-for="(image, idx) in images" :key="idx" class="grid-item">
			<nuxt-img format="webp" :src="image" class="full-width"> </nuxt-img>
			<div v-if="idx === images.length - 1" class="more text-white rounded">
				<i class="bzi bzi-image text-white"></i>
				120 Photos
			</div>
		</div>
	</div>
</template>

<script>
export default {
	name: 'ImagesComponent',
	props: {
		images: {
			type: Array,
			required: true
		}
	}
}
</script>

<style lang="scss" scoped>
.image-grid--featured {
	position: relative;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(2, 1fr);
	grid-template-areas:
		'main main item item'
		'main main item item';
	gap: 10px;
}

.grid-item:first-child {
	grid-area: main;
}

.grid-item {
	position: relative;
}

.more {
	position: absolute;
	bottom: 10px;
	right: 5px;
	padding: 3px 8px;
	background: rgba(0, 0, 0, 0.5);
	font-size: 8px;

	@media #{$medium} {
		font-size: 20px;
	}

	@media #{$medium} {
		font-size: 24px;
	}
}
</style>
