<template>
	<div
		class="shadow rounded pv-10 ph-10 flex flex-column gap-20 bg-white mb-95"
	>
		<div class="flex flex-column">
			<h2 class="f-24">Informasi Lokasi</h2>
			<div class="flex--m">
				<Maps :coordinat="location.coordinat" class="flex-1" />
				<div class="flex flex-2 flex-column gap-24 p-20">
					<div class="flex flex-column gap-16">
						<div class="flex gap-12 v-center">
							<i class="bzi bzi-maps-solid f-24"></i>
							<p class="mb-0 f-18">
								{{ location.address }}
							</p>
						</div>
						<p class="mb-0 f-16 text-light">
							{{ location.description }}
						</p>
						<div class="flex flex-column gap-10">
							<div class="f-16 f--medium">Akses Masuk Kendaraan</div>
							<ul class="flex flex--wrap list-nostyle gap-9">
								<li v-for="(vehicle, idx) in location.vehicleAccess" :key="idx">
									<Tag icon="car" :value="vehicle" />
								</li>
							</ul>
						</div>
					</div>
					<div class="flex gap-12">
						<span class="f-16">Memiliki pertanyaan lebih lanjut?</span>
						<a :href="location.urlOwner"
							><i class="bzi bzi-chat mr-4 f-24 lh-1"></i
							><span class="f--medium f-16">Chat Owner Sekarang!</span></a
						>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
export default {
	name: 'LocationComponent',
	props: {
		location: {
			type: Object,
			required: true
		}
	}
}
</script>

<style lang="scss" scoped>
.lh-1 {
	line-height: 1;
}
</style>
