<template>
	<nuxt-link to="/" class="site-logo">
		<nuxt-img
			src="assets/img/site-logo.png"
			format="webp"
			alt="Logo Kemahaja"
		/>
	</nuxt-link>
</template>

<script>
export default {
	name: 'LogoComponent'
}
</script>
