<template>
	<div class="maps__wrapper">
		<div id="map-wrap" class="full-height maps">
			<client-only>
				<l-map :zoom="13" :center="coordinat" :options="{ zoomControl: false }">
					<l-tile-layer
						url="http://{s}.tile.osm.org/{z}/{x}/{y}.png"
					></l-tile-layer>
					<l-marker :lat-lng="coordinat"></l-marker>
					<l-control-zoom position="topright"></l-control-zoom>
				</l-map>
			</client-only>
		</div>
	</div>
</template>

<script>
export default {
	name: 'MapsComponent',
	props: {
		coordinat: {
			type: Array,
			required: true
		}
	}
}
</script>

<style lang="scss" scoped>
.full-height {
	height: 250px;

	@media #{$medium} {
		height: 100%;
	}
}

.maps > .vue2leaflet-map {
	border-radius: 20px !important;
}

.maps__wrapper {
	flex: 1;
	align-items: stretch;
}
</style>
