<template>
	<div class="flex--m gap-24">
		<ThumbnailPacket :thumbnail="packet.thumbnail" :type="packet.type" />
		<DescriptionPacket
			:title="packet.description.title"
			:capacity="packet.description.capacity"
			:remaining-kavings="packet.description.remainingKavings"
			:policies="packet.description.policies"
			:facilities="packet.description.facilities"
			:price="packet.description.price"
			:price-disc="packet.description.priceDisc"
		/>
	</div>
</template>

<script>
export default {
	name: 'PacketComponent',
	props: {
		packet: {
			type: Object,
			required: true
		}
	}
}
</script>
