<template>
	<div class="flex flex-column gap-30 mb-100">
		<Packet v-for="(packet, idx) in packets" :key="idx" :packet="packet" />
	</div>
</template>

<script>
export default {
	name: 'PacketsComponent',
	props: {
		packets: {
			type: Array,
			required: true
		}
	}
}
</script>
