<template>
	<div class="flex--m gap-24">
		<div class="flex flex-column gap-32 mb-16">
			<VisitorReview :ratings="review.ratings" />
			<FilterReview />
		</div>
		<Comments :comments="review.comments" />
	</div>
</template>

<script>
export default {
	name: 'ReviewComponent',
	props: {
		review: {
			type: Object,
			required: true
		}
	}
}
</script>
