<template>
	<aside class="sidebar" :class="[{ 'is-active': isActive }]">
		<perfect-scrollbar class="pt-10">
			<nav class="main-nav">
				<div class="bg-disable f-16">Main Nav</div>
				<ul class="list-nostyle f-16">
					<li v-for="(nav, i) in mainNav" :key="i" class="main-nav__item">
						<nuxt-link class="header-link f--medium-m" :to="nav.url">{{
							nav.title
						}}</nuxt-link>
					</li>
					<li class="main-nav__item">
						<nuxt-link class="header-link" to="#"
							><span class="f--medium-m">Jadi Mitra KEMAHAJA</span></nuxt-link
						>
					</li>
					<li class="main-nav__item">
						<nuxt-link class="header-link f--medium-m" to="#"
							><i class="bzi bzi-flag-id path1 f-18"></i>
							<i class="bzi bzi-flag-id path2 f-18 mr-4"></i>ID</nuxt-link
						>
					</li>
					<li class="main-nav__item">
						<nuxt-link class="header-link f--medium-m" to="#"
							><i class="bzi bzi-user-circle path1 f-26"></i>
							<i class="bzi bzi-user-circle path2 f-26 mr-4"></i>
							Prayuda Riansyah</nuxt-link
						>
					</li>
				</ul>
			</nav>
			<nav v-if="detailNav.length" class="main-nav">
				<div class="bg-disable f-16">Detail Nav</div>
				<ul class="list-nostyle f-16">
					<li v-for="(nav, i) in detailNav" :key="i" class="main-nav__item">
						<nuxt-link :to="urlTabs(nav)" class="header-link f--medium-m">
							{{ nav }}
						</nuxt-link>
					</li>
				</ul>
			</nav>
		</perfect-scrollbar>
	</aside>
</template>

<script>
export default {
	name: 'SidebarComponent',
	props: {
		isActive: {
			type: Boolean,
			required: true
		},
		mainNav: {
			type: Array,
			required: true
		},
		detailNav: {
			type: Array,
			default: () => {
				return []
			}
		}
	},
	computed: {
		urlTabs() {
			return tab => {
				return `#${this.createSlug(tab)}`
			}
		},
		createSlug() {
			return tab => {
				return tab.toLowerCase().replace(/\s+/g, '-')
			}
		}
	}
}
</script>

<style lang="scss" scoped>
.main-nav {
	& > ul {
		display: flex;
		flex-direction: column;
	}

	li {
		display: flex;
		align-items: center;
	}

	ul,
	li {
		height: 100%;
	}
}

.ps {
	height: 100%;
}
</style>
