<template>
	<card class="flex-1_5" :title="title">
		<template #selengkapnya>
			<a :href="url" class="text f--semi">
				Selengkapnya <i class="bzi bzi-angle-up ml-4 angle-right"></i>
			</a>
		</template>
		<p class="f-16">{{ description }}</p>
	</card>
</template>

<script>
export default {
	name: 'SummaryComponent',
	props: {
		title: {
			type: String,
			required: true
		},
		url: {
			type: String,
			required: true
		},
		description: {
			type: String,
			required: true
		}
	}
}
</script>

<style lang="scss" scoped>
.angle-right {
	transform: rotate(90deg);
}

.text {
	font-size: 16px;
	@media #{$large} {
		font-size: 18px;
	}
}
</style>
