<template>
	<div
		class="tag rounded flex pv-8 ph-10"
		:class="[
			{ 'btn--tag': !ghost, 'text-primary': ghost, 'text-grey10': disable }
		]"
	>
		<i
			class="bzi mr-10"
			:class="{ ['f-16 f--medium']: !small, [className]: true }"
		></i>
		<span :class="{ 'f-16 f--medium': !small }">{{ value }}</span>
	</div>
</template>
<script>
export default {
	name: 'TagComponent',
	props: {
		icon: {
			type: String,
			default: ''
		},
		value: {
			type: String,
			default: ''
		},
		ghost: {
			type: Boolean,
			default: false
		},
		disable: {
			type: Boolean,
			default: false
		},
		small: {
			type: Boolean,
			default: false
		}
	},
	computed: {
		className() {
			return `bzi-${this.icon}`
		}
	}
}
</script>

<style lang="scss" scoped>
.btn--tag {
	background-color: #cef3e9;
	padding: 8px 10px;
	font-weight: 500;
}
</style>
