<template>
	<div class="flex flex-column v-stretch">
		<div class="flex flex-column shadow rounded">
			<div class="image-header">
				<nuxt-img
					class="full-width"
					format="webp"
					loading="lazy"
					:src="thumbnail"
					alt="Thumbnail"
				/>
			</div>
			<div class="ml-12 mt-13 mb-13 f-22 f--semi bg-white">
				Paket {{ type }}
			</div>
		</div>
	</div>
</template>

<script>
export default {
	name: 'ThumbnailPacketComponent',
	props: {
		thumbnail: {
			type: String,
			required: true
		},
		type: {
			type: String,
			required: true
		}
	}
}
</script>
