<template>
	<section class="flex--m f-space-between mt-32 mb-40">
		<div class="flex flex-column">
			<h1>{{ data.title }}</h1>
			<div class="flex flex-column gap-5">
				<div class="flex gap-12 v-center">
					<Tag icon="beach-solid" :value="data.category" :small="true" />
					<div>
						<i
							v-for="index in data.rating"
							:key="'filled-' + index"
							class="bzi bzi-star-filled"
						></i>
						<i
							v-for="index in starNotFilled"
							:key="'notfilled-' + index"
							class="bzi bzi-star"
						></i>
						({{ data.total_review }} Ulasan)
					</div>
				</div>
				<div class="flex v-center gap-8">
					<i class="bzi bzi-maps f-24"></i>
					<p class="mb-0 f--medium">
						{{ data.address }}
					</p>
				</div>
			</div>
		</div>
		<div class="flex flex-column f-space-between h-end">
			<div class="flex-h-end">
				<div class="flex flex-column gap-4">
					<span>per kavling, per malam</span>
					<div>
						<span class="f-16">IDR</span>
						<span class="text-primary f-26 f--semi">{{ data.price }}</span>
					</div>
				</div>
			</div>
			<button class="btn btn--primary" aria-label="Pilih Camping">
				Pilih Camping Ground
			</button>
		</div>
	</section>
</template>

<script>
export default {
	name: 'TitleCampComponent',
	props: {
		data: {
			type: Object,
			required: true
		}
	},
	computed: {
		starNotFilled() {
			return 5 - this.data.rating
		}
	}
}
</script>
