<template>
	<div class="flex flex-column">
		<h3 class="f-26 flex h-center mb-32">Ulasan Pengunjung</h3>
		<div class="flex flex-column mb-24">
			<div class="flex flex-column h-center">
				<div class="flex v-center h-center gap-15 mb-23">
					<i class="icon bzi bzi-star-filled f-70"></i>
					<div class="flex gap-3">
						<h1 class="mb-0 f-64 mr-3 text-black">{{ averageRatings }}</h1>
						<span class="f-22 flex v-end text-grey10">/5.0</span>
					</div>
				</div>
				<span class="flex h-center f--medium text-primary f-18"
					>Rating berdasar {{ total }} pengunjung</span
				>
			</div>
		</div>
		<ul v-for="(rate, idx) in ratings" :key="idx" class="list-nostyle">
			<li class="flex v-center f-space-between">
				<div class="w-90 flex v-center">
					<i class="bzi bzi-star-filled mr-4"></i>{{ rate.star_rating }}
					<div class="progress-bar flex-1 ml-10 mr-10">
						<div
							class="bar bar-width"
							:data-count="percenBar(rate.total, total)"
						></div>
					</div>
				</div>
				{{ rate.total }}
			</li>
		</ul>
	</div>
</template>

<script>
export default {
	name: 'VisitorReview',
	props: {
		ratings: {
			type: Array,
			required: true
		}
	},
	computed: {
		percenBar() {
			return (count, total) => {
				return ((count / total) * 100).toFixed(1)
			}
		},
		total() {
			let total = 0
			this.ratings.forEach(item => {
				total += item.total
			})
			return total
		},
		averageRatings() {
			let totalSum = 0
			let totalCount = 0

			for (const rating of this.ratings) {
				totalSum += rating.star_rating * rating.total
				totalCount += rating.total
			}

			return (totalSum / totalCount).toFixed(1)
		}
	}
}
</script>

<style lang="scss" scoped>
.icon {
	line-height: 1;
}

.flex-1 {
	flex: 1;
}

.w-90 {
	width: 90%;
}
</style>
