.breadcrumb {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	padding: 0;
	list-style: none;

	> li {
		&:before {
			margin: 0 8px;
			content: '>';
			display: inline-block;
			transform: scale(0.5, 1.2);
		}

		a {
			color: $black40;
		}

		&:last-child a {
			color: #000;
		}

		&:first-child:before {
			display: none;
		}
	}
}
