.progress-bar {
	position: relative;
	overflow: hidden;
	background: rgba(lighten($primary, 40%), 0.3);
	border-radius: 4px;

	.bar {
		display: block;
		height: 4px;
		background: $primary;
		border-radius: 4px;

		@media #{$medium} {
			height: 8px;
		}
	}

	@for $i from 1 through 100 {
		.bar-width[data-count*='#{$i}'] {
			width: $i * 1%;
		}
	}
}

.hash-container {
	background-color: rgba(lighten($primary, 40%), 0.2);
	padding: 14px 16px;
}
