@font-face {
	font-family: 'bz-icon';
	src: url('~assets/fonts/bz-icon.eot?t29lr4');
	src: url('~assets/fonts/bz-icon.eot?t29lr4#iefix') format('embedded-opentype'),
		url('~assets/fonts/bz-icon.ttf?t29lr4') format('truetype'),
		url('~assets/fonts/bz-icon.woff?t29lr4') format('woff'),
		url('~assets/fonts/bz-icon.svg?t29lr4#bz-icon') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: block;
}

[class^='bzi-'],
[class*=' bzi-'] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'bz-icon' !important;
	speak: never;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	// line-height: normal;
	display: inline-block;
	vertical-align: middle;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	&:before {
		display: inline-block;
	}
}

.bzi-2x:before {
	transform: scale(2);
}
.bzi-1_5x:before {
	transform: scale(1.5);
}
.bzi-1_2x:before {
	transform: scale(1.2);
}
.bzi-0_5x:before {
	transform: scale(0.5);
}

.bzi-180:before {
	transform: rotate(180deg);
}

// Icons

.bzi-user-circle.path1:before {
	content: '\e918';
	color: rgb(217, 217, 217);
}
.bzi-user-circle.path2:before {
	content: '\e919';
	margin-left: -1em;
	color: rgb(112, 112, 112);
}
.bzi-angle-down:before {
	content: '\e913';
}
.bzi-angle-up:before {
	content: '\e914';
}
.bzi-chat:before {
	content: '\e900';
	color: #0f5a46;
}
.bzi-image:before {
	content: '\e900';
}
.bzi-copyright:before {
	content: '\e902';
}
.bzi-tiktok:before {
	content: '\e903';
	color: #064635;
}
.bzi-facebook:before {
	content: '\e904';
	color: #064635;
}
.bzi-youtube:before {
	content: '\e905';
	color: #064635;
}
.bzi-instagram:before {
	content: '\e906';
	color: #064635;
}
.bzi-car:before {
	content: '\e907';
	color: #0f5a46;
}
.bzi-maps-solid:before {
	content: '\e908';
}
.bzi-maps:before {
	content: '\e909';
	color: #6e6e6e;
}
.bzi-star-filled:before {
	content: '\e90a';
	color: #ffbf00;
}
.bzi-star:before {
	content: '\e90b';
	color: #ffe599;
}
.bzi-beach-solid:before {
	content: '\e90c';
	color: #0f5a46;
}
.bzi-people:before {
	content: '\e90d';
	color: #0f5a46;
}
.bzi-calender:before {
	content: '\e90e';
	color: #0f5a46;
}
.bzi-maps-location:before {
	content: '\e90f';
	color: #0f5a46;
}
.bzi-user:before {
	content: '\e910';
	color: #707070;
}
.bzi-flag-id.path1:before {
	content: '\e911';
	color: rgb(250, 250, 250);
}
.bzi-flag-id.path2:before {
	content: '\e912';
	margin-left: -1.349609375em;
	color: rgb(221, 33, 39);
}
.bzi-beach:before {
	content: '\e915';
	color: #b6b6b6;
}
.bzi-camp:before {
	content: '\e916';
	color: #565656;
}
.bzi-corp:before {
	content: '\e917';
	color: #064635;
}
