.tabs__bar,
.tabs__bar--justify {
	padding-left: 0;
	margin-bottom: 0;
	background: transparent;
	overflow: auto;
	white-space: nowrap;

	.tabs__nav {
		display: inline-block;
		padding: 5px 20px;
		text-align: center;
		border-bottom: 1px solid #b6b6b6;
		color: #b6b6b6;

		&:hover {
			cursor: pointer;
		}

		&.is-active {
			border-bottom: 2px solid #064635;
			color: #064635;
		}
	}
}

.tabs__bar--justify {
	display: flex;
	flex-direction: row;
	justify-content: space-around;

	.tabs__nav {
		flex: auto;
		padding: 5px 20px;
	}
}

.tabs__item {
	display: none;

	&.is-active {
		display: block;
	}
}
