<template>
	<main class="site-main container border-box pv-12 mb-80">
		<div v-if="data">
			<BreadCrumbs />
			<filterDetailFilter />
			<TitleCamp id="info-umum" :data="data" />
			<Images :images="data.images" />
			<section id="fasilitas" class="mb-30">
				<div class="flex gap-30 mt-30">
					<Summary
						:title="data.summary.title"
						:url="data.summary.url"
						:description="data.summary.description"
					/>
					<Facilities
						:title="data.facilities.title"
						:facilities="data.facilities.facilities"
					/>
				</div>
			</section>
			<section id="lokasi">
				<Location :location="data.location" />
			</section>
			<section id="camp-ground">
				<Packets :packets="data.packets" />
			</section>
			<section id="review">
				<Review :review="data.reviews" />
			</section>
		</div>
		<div v-else>data kosong</div>
	</main>
</template>

<script>
export default {
	name: 'HomePage',
	layout: 'detail',
	async asyncData({ $axios, params }) {
		try {
			const [getDetail, getRelated] = await Promise.allSettled([
				$axios.get('/json/' + params.slug + '.json'),
				$axios.get('/json/' + params.city + '.json')
			])
			const filterRelated = getRelated.value.data.data.filter(
				item => item.slug !== params.slug
			)
			return {
				data: getDetail.value.data.data,
				related: filterRelated.slice(0, 4)
			}
		} catch (err) {
			console.log(err)
		}
	},
	head() {
		return {
			...this.$SEOMeta({
				metaTitle: 'Brotherhood Camp',
				metaDesc:
					'Saksikan matahari terbit dan terbenam di balik pegunungan, melihat hamparan bunga edelweis yang menakjubkan, dan mendengarkan alunan riak air yang jernih dari sungai yang mengalir hanya 30 menit',
				metaKeywords: 'camp, Brotherhood Camp, kemahaja, beach'
			})
		}
	},
	mounted() {
		this.loading = false
	},
	jsonld() {
		return this.$jsonLD({
			type: 'LocalBusiness',
			jsonLDObjects: {
				address: {
					'@type': 'PostalAddress',
					addressLocality: 'Jakarta, Indonesia',
					postalCode: '12510',
					streetAddress: 'Jl. Pejaten Barat II No. 3A'
				},
				email: 'kemahaja(at)gmail.com',
				name: 'Kemahaja',
				telephone: '+62 822 4692 6620',
				legalName: 'Kemahaja',
				location: 'Jakarta, Bandung, Yogyakarta, Singapore',
				description: 'Camping'
			}
		})
	}
}
</script>
