<template>
	<main class="site-main">
		<div class="container">
			<h1>{{ title }}</h1>
			<div v-if="$fetchState.pending" class="text-center p-24">
				<span class="spinner"></span>
			</div>
			<div v-else>
				<div v-if="camps.length" class="bzg">
					<div
						v-for="(item, i) in camps"
						:key="i"
						class="bzg_c"
						data-col="m6, l3"
					>
						<card
							:card-data="item"
							:path="'/camping-ground/' + $route.params.city + '/'"
						/>
					</div>
				</div>
				<div v-else class="bzg">
					<div class="bzg_c" data-col="m6, l3">Data Kosong</div>
				</div>
			</div>
		</div>
	</main>
</template>

<script>
export default {
	name: 'IndexCityPages',
	components: {
		card: () => import('~/components/news/card')
	},
	data() {
		return {
			camps: []
		}
	},
	async fetch() {
		await this.updateData()
	},
	head() {
		return {
			...this.$SEOMeta({
				metaTitle: this.title
			})
		}
	},
	computed: {
		title() {
			const str = this.$route.params.city
			return str.charAt(0).toUpperCase() + str.slice(1)
		}
	},
	fetchOnServer: false,
	methods: {
		updateData() {
			this.$axios
				.get('/json/' + this.$route.params.city + '.json')
				.then(res => {
					this.camps = res.data.data
				})
				.catch(err => {
					console.log(err)
				})
		}
	},
	jsonld() {
		return this.$jsonLD({
			jsonLDObjects: {
				name: 'City Camps',
				description: 'City Camps list page'
			}
		})
	}
}
</script>

<style lang="scss" scoped></style>
