<template>
	<div id="app" class="sticky-footer-container">
		<HeaderDetail :is-show="isActive" @toggle="onToggle" />
		<Sidebar
			:is-active="isActive"
			:main-nav="mainNav"
			:detail-nav="detailNav"
		/>
		<div v-if="isActive" class="sidebar--overlay" @click="hideSidebar"></div>
		<div class="sticky-footer-container-item container --pushed">
			<nuxt />
		</div>
		<div class="sticky-footer-container-item">
			<Footer />
		</div>
	</div>
</template>

<script>
export default {
	name: 'DetailLayout',
	inject: ['responsive'],
	data() {
		return {
			isActive: false,
			mainNav: [],
			detailNav: ['Info Umum', 'Fasilitas', 'Lokasi', 'Camp Ground', 'Review']
		}
	},
	async fetch() {
		await this.$axios
			.get(`/json/menus.json`)
			.then(res => {
				this.mainNav = res.data.data
			})
			.catch(error => {
				const errData = error.response?.data
				const errMessage =
					error.response.data?.message || error.response.statusText
				if (errData.status === 404 || error.response.status === 404)
					this.$nuxt.error(this.$catch404)
				else {
					this.$nuxt.error(this.$catch500)
					const consoleError = new Error(errMessage)
					consoleError.code = errData?.status || error.response.status
					throw consoleError
				}
			})
	},
	head() {
		return {
			link: [
				{
					rel: 'canonical',
					href: process.env.BASE_URL + this.$route.path
				}
			]
		}
	},
	methods: {
		onToggle(val) {
			if (this.isActive === false && val === false) {
				this.isActive = true
			} else if (this.isActive === true && val === true) {
				this.isActive = false
			} else {
				this.isActive = val
			}
		},
		hideSidebar() {
			this.isActive = false
		}
	}
}
</script>
