<template>
	<main class="site-main container border-box pv-12 mb-80">
		<div v-if="loading">Loading....</div>
		<div v-else>
			<BreadCrumbs />
			<filterDetailFilter />
			<TitleCamp id="info-umum" :data="data" />
			<Images :images="data.images" />
			<section id="fasilitas" class="mb-30">
				<div class="flex--m gap-30 mt-30">
					<Summary
						:title="data.summary.title"
						:url="data.summary.url"
						:description="data.summary.description"
					/>
					<Facilities
						:title="data.facilities.title"
						:facilities="data.facilities.facilities"
					/>
				</div>
			</section>
			<section id="lokasi">
				<Location :location="data.location" />
			</section>
			<section id="camp-ground">
				<Packets :packets="data.packets" />
			</section>
			<section id="review">
				<Review :review="data.reviews" />
			</section>
		</div>
	</main>
</template>

<script>
export default {
	name: 'HomePage',
	layout: 'detail',
	data() {
		return {
			data: {},
			loading: true
		}
	},
	async fetch() {
		await this.$axios
			.get(`/json/data.json`)
			.then(res => {
				this.data = res.data.data
			})
			.catch(error => {
				const errData = error.response?.data
				const errMessage =
					error.response.data?.message || error.response.statusText
				if (errData.status === 404 || error.response.status === 404)
					this.$nuxt.error(this.$catch404)
				else {
					this.$nuxt.error(this.$catch500)
					const consoleError = new Error(errMessage)
					consoleError.code = errData?.status || error.response.status
					throw consoleError
				}
			})
	},
	head() {
		return {
			...this.$SEOMeta({
				metaTitle: 'Brotherhood Camp',
				metaDesc:
					'Saksikan matahari terbit dan terbenam di balik pegunungan, melihat hamparan bunga edelweis yang menakjubkan, dan mendengarkan alunan riak air yang jernih dari sungai yang mengalir hanya 30 menit',
				metaKeywords: 'camp, Brotherhood Camp, kemahaja, beach'
			})
		}
	},
	mounted() {
		this.loading = false
	},
	jsonld() {
		return this.$jsonLD({
			type: 'LocalBusiness',
			jsonLDObjects: {
				address: {
					'@type': 'PostalAddress',
					addressLocality: 'Jakarta, Indonesia',
					postalCode: '12510',
					streetAddress: 'Jl. Pejaten Barat II No. 3A'
				},
				email: 'kemahaja(at)gmail.com',
				name: 'Kemahaja',
				telephone: '+62 822 4692 6620',
				legalName: 'Kemahaja',
				location: 'Jakarta, Bandung, Yogyakarta, Singapore',
				description: 'Camping'
			}
		})
	}
}
</script>

<style lang="scss" scoped></style>
