<template>
	<main class="site-main container border-box pv-8">
		<div v-if="loading">Loading....</div>
		<div v-else>
			<filterHomeFilter />
			<CampCity />
			<CarouselCamp />
			<CampLimited />
			<CampCategory />
			<CampDestination />
			<CampTabs />
			<CampBanner />
		</div>
	</main>
</template>

<script>
export default {
	name: 'HomePage',
	layout: 'default',
	data() {
		return {
			data: {},
			loading: true
		}
	},
	async fetch() {
		await this.$axios
			.get(`/json/data.json`)
			.then(res => {
				this.data = res.data.data
			})
			.catch(error => {
				const errData = error.response?.data
				const errMessage =
					error.response.data?.message || error.response.statusText
				if (errData.status === 404 || error.response.status === 404)
					this.$nuxt.error(this.$catch404)
				else {
					this.$nuxt.error(this.$catch500)
					const consoleError = new Error(errMessage)
					consoleError.code = errData?.status || error.response.status
					throw consoleError
				}
			})
	},
	head() {
		return {
			...this.$SEOMeta({
				metaTitle: 'Brotherhood Camp',
				metaDesc:
					'Saksikan matahari terbit dan terbenam di balik pegunungan, melihat hamparan bunga edelweis yang menakjubkan, dan mendengarkan alunan riak air yang jernih dari sungai yang mengalir hanya 30 menit',
				metaKeywords: 'camp, Brotherhood Camp, kemahaja, beach'
			})
		}
	},
	mounted() {
		this.loading = false
	},
	jsonld() {
		return this.$jsonLD({
			type: 'LocalBusiness',
			jsonLDObjects: {
				address: {
					'@type': 'PostalAddress',
					addressLocality: 'Jakarta, Indonesia',
					postalCode: '12510',
					streetAddress: 'Jl. Pejaten Barat II No. 3A'
				},
				email: 'kemahaja(at)gmail.com',
				name: 'Kemahaja',
				telephone: '+62 822 4692 6620',
				legalName: 'Kemahaja',
				location: 'Jakarta, Bandung, Yogyakarta, Singapore',
				description: 'Camping'
			}
		})
	}
}
</script>

<style lang="scss">
.slick-prev,
.slick-next {
	height: 42px;
	width: 42px;
	border-radius: 8px;
	bottom: 40%;
	right: 35px;
	z-index: 10;
}

.slick-prev {
	left: 30px;
}

.slick-next {
	right: 30px;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
	opacity: 0.9;
}

.slick-prev:before,
.slick-next:before {
	font-size: 42px;
	opacity: 0.9;
}

.slick-current {
	padding-left: 0 !important;
}

.slick-slider .slick-slide {
	padding-left: 24px;
}

.slick-item {
	max-height: 324px;
	min-width: 548px;
}

.slick-dots {
	padding-left: 227px;
}
</style>
